<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            overflow: scroll;
            background-image: url(/images/map.png);
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
          /* text-align: center; */
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        container{
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            flex-direction: row;
        }
        table {
            display: flex;
            margin: 1rem;
            text-align: center;
            border-style: solid;
            border-collapse: collapse;
            border-color: rgb(52, 46, 40);
            border-width: 2px;
            background-color: rgba(52,46,46,0.5);
        }
    </style>
    <script>
        const localVal = '<%= JSON.stringify(Character) %>';
    </script>
    <script src="scripts/display.js"></script>
    <title>Character Sheet</title>
    
</head>
<body>
    <h1>Your Character Sheet</h1>
    <div class="container">
        <div class="item">
         <table border="10" cellpadding="10" cellspacing="10">
            <tr>
                <th>Character Name</th>
                <td><%= Character.charName %></td>
            </tr>
            <tr>
                <th>Level</th>
                <td><%= Character.level %></td>
            </tr>
            <tr>
                <th>Gender</th>
                <td><%= Character.gender %></td>
            </tr>
            <tr>
                <th>Alignment</th>
                <td><%= Character.align %></td>
            </tr>
            <tr>
                <th>Race</th>
                <td><%= Character.raceName %></td>
            </tr>
            <tr>
                <th>Class</th>
                <td><%= Character.className %></td>
            </tr>
        </table>
        </div>
        <div class="item">
        <table border="10" cellpadding="10" cellspacing="5">
            <tr>
                <th>Stat</th>
                <th>Score</th>
                <th>Modifier</th>
            </tr>
            <tr>
                <td>Strength</td>
                <td><%= Character.str %></td>
                <td><%= Character.strBon %></td>
            </tr>
            <tr>
                <td>Dexterity</td>
                <td><%= Character.dex %></td>
                <td><%= Character.dexBon %></td>
            </tr>
            <tr>
                <td>Constitution</td>
                <td><%= Character.con %></td>
                <td><%= Character.conBon %></td>
            </tr>
            <tr>
                <td>Intelligence</td>
                <td><%= Character.int %></td>
                <td><%= Character.intBon %></td>
            </tr>
            <tr>
                <td>Wisdom</td>
                <td><%= Character.wis %></td>
                <td><%= Character.wisBon %></td>
            </tr>
            <tr>
                <td>Charisma</td>
                <td><%= Character.cha %></td>
                <td><%= Character.chaBon %></td>
            </tr>
        </table>
        </div>    
        <div class="item">
         <table border="10" cellpadding="10" id="skillTable" height="100vh">
                <tr>
                    <th>Skill</th>
                    <th>Modifier</th>
                </tr>
        </table>
        </div>
       
        <div class="item">
        <table border="10" cellpadding="10" cellspacing="10">
            <tr>
                <th>Armor Class</th>
                <th>Hit Points</th>
                <th>Proficiency Bonus</th>
            </tr>
            <tr>
                <td><%= Character.ac %></td>
                <td><%= Character.hp %></td>
                <td><%= Character.profBon %></td>
            </tr>
        </table>
    </div>
    </div>
</body>
</html>