<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--CSS styling for the entire HTML file-->
    <style>
        body {background-color: rgb(70, 70, 70); color: white;}
        .child {
            display: inline-block;
            vertical-align: top;
        }
        .center {
            text-align: center;
        }
    </style>
    <meta charset="UTF-8" />
    <title>Interactive DnD Character Sheet</title>
  </head>

  <body>
    <h1 class="center">Generate Your Character</h1>
    <!-- <button type="submit" class="center">Generate Character</button> -->

    <!-- <form action="/races" method="POST"> -->
      <!-- <input type="text" placeholder="name" name="name" /> -->
      <!-- <input type="text" placeholder="quote" name="quote" /> -->
      <!-- <button type="submit">Submit</button> -->
    <!-- </form> -->
    <!-- <%= races %> -->


    <!-- Section for Dealing with Stats -->
    <div class="child">
        <h2> Input Your Stats </h2>
        <form action="/stats" method="POST">
            <style>
                input[type=text] {
                    width: 20%;
                    padding: 12px 5px;
                    box-sizing: border-box;
                    border: 2px solid black;
                    border-radius: 4px;
                    display: block;
                    margin:2px 0 20px 10px;
                    font-size: 20px;
                    text-align: center;
                }
            </style>
            <label for="str">STR</label>
            <input type="text" name="str"/>
            <label for="dex">DEX</label>
            <input type="text" name="dex"/>
            <label for="con">CON</label>
            <input type="text" name="con"/>
            <label for="int">INT</label>
            <input type="text" name="int"/>
            <label for="wis">WIS</label>
            <input type="text" name="wis"/>
            <label for="cha">CHA</label>
            <input type="text" name="cha"/>
        </form>
    </div>

    <!-- Section for Selection / Dealing with Races -->
    <div class="child">
        <h2> Races </h2>

        <label for="raceDrop">Choose a Race</label>
        <select name="raceDrop" id="nameDrop">
          <option value="blank">-----</option>
          <option value="human">Human</option>
          <option value="dwarf">Dwarf</option>
        </select>
        <!-- <ul class="races"> -->
        <!-- Loop through races -->
        <!-- <% for(var i = 0; i < races.length; i++) {%> -->
            <!-- <li class="races"> -->
            <!-- Output race from the iterated race object -->
            <!-- <span><%= races[i].race %></span>: -->
            <!-- Output asi from the iterated race object -->
            <!-- <span><%= races[i].asi %></span> -->
            <!-- Output size from the iterated race object -->
            <!-- <span><%= races[i].size %></span> -->
            <!-- Output speed from the iterated race object -->
            <!-- <span><%= races[i].speed %></span> -->
            <!-- </li> -->
        <!-- <% } %> -->
        <!-- </ul> -->
    </div>
    
  </body>
</html>


